.class
.project
.springBeans
.classpath
.settings/
.metadata/
target/
src/main/webapp/resources/bower_components
src/main/resources/database.properties
#hibernate.cfg.xml
Servers
app/.idea/
app/Bawl.iml
desktop.ini
/target
.idea/*
dataSources.local.xml
.gitignore~
pom.xml~
README.md~
AndroidApp/*
# Openshift Files #
.tern-project
*.gitkeep
src/main/webapp/index.html
src/main/webapp/snoop.jsp
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
