<!--  <div class="container" > -->
<form id="form" name="form" class="reset-form-wrapper" novalidate>
  <div class="row">
    <div class="reset-form">
      <div class="col s12">
  	    <h5>Enter New Password, Please...</h5>
        <div class="input-field col s12">
          <input type="password" id="newPassword" ng-model="newPassword">
          <label for="password" data-error="wrong" data-success="right">Password</label>
          {{password}}
        </div>
        <div class="input-field col s12">
	      <button class="btn waves-effect waves-light left grey darken-4" type="submit" ng-click="updatePassword()" name="action">Save
          </button>
	    </div>
      </div>
    </div>
  </div>
</form>