<div id="form" class="login-form">
	<div class="row">
		<div class="input-field col s12">
			<input id="email" type="email" ng-model="email"> <label
				for="email">Email</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="password" type="password" ng-model="password"> <label
				for="password">Password</label>
		</div>
	</div>
	<div class="row">
		<a class="waves-effect waves-light btn" ng-click="login()">login</a>
		Already registered? <a href="#">Sign In</a>
	</div>
</div>