<div id="add-place" class="row ng-hide" ng-show="$ctrl.addPlaceMenuIsOpen">
	<h2>New Place</h2>
	<a href="" ng-click="$ctrl.toggleAddPlaceMenu(placeMaker)">
          <i class="material-icons">close</i>
        </a>
    <form class="cols12">
	<div class="row">
		<div class="input-field col s12">
			<label>1. Choose place on map:</label><br> 
			<span id="latitude"></span><br>
			<span id="longitude"></span><br>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<textarea id="newPlaceName" class="materialize-textarea"
				ng-model="$ctrl.newPlace.name" ng-required="true"></textarea>
			<label for="newPlaceName">2. Enter place name:</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<textarea name="newPlaceDescription"  id="newPlaceDescription" class="materialize-textarea"
				ng-model="$ctrl.newPlace.description"></textarea>
			<label for="newPlaceDescription">3. Enter place description
				(optional):</label>
		</div>
	</div>

	<div class="input-field col s12">
		<select name="newPlaceType"
			ng-options="type as typeObj.name for (type, typeObj) in $ctrl.placesType track by type"
			ng-model="$ctrl.newPlaceType" ng-required="true">
			<option value="">-- Choose place type --</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select> <label>4. Select place type:</label>
		<div
			ng-show="$ctrl.formNewPlaceSubmitted || placeMaker.newPlaceType.$touched">
			<span class="alert-input"
				ng-show="placeMaker.newPlaceType.$error.required"> Please
				select place type! </span>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			<a class="btn waves-effect waves-light" type="submit"
				ng-click="$ctrl.createNewPlace(placeMaker)"><i
				class="material-icons right">send</i>sumbmit</a> <a
				class="btn waves-effect waves-light"
				ng-click="$ctrl.resetAddPlaceForm(placeMaker)">cancel</a>
		</div>
	</div>
	</form>
</div>