<!-- <div ng-click="goPlace()" ng-controller="OpenPlaceCtrl"> -->
	<div class="container">

		<!-- <div class="map-container">
			<div id="mapid"></div>
		</div> -->
		<div class="close-place" ng-show="close-place-button">
			<a href="#" ng-click="close_place($event)"> <span
				class="material-icons closeIcon">close</span>
			</a>
		</div>
		<div class="place-container"> <!-- ng-show="placeopened" -->
			<div class="row">
				<div class="col s12">
					<div class="carousel carousel-slider">
						<i class="material-icons before-arrow">navigate_before</i> <i
							class="material-icons next-arrow">navigate_next</i> <a
							ng-repeat="(i, image) in images" class="carousel-item"
							ng-href="#{{i}}!"> <img class="responsive-img"
							ng-src="{{image}}" id="imgClickAndChange" onclick="changeImage()">
						</a>
					</div>
					<h2 class="place-name editableplace"
						ng-click="show_name_modal($event)">{{name}}</h2>
				</div>
			</div>

			<div class="row empty">
				<div>&nbsp;</div>
			</div>

			<div class="row indented-header">
				<div class="col s12 m12 l12 card-content grey-text text-darken-1">
					<h3>Place details</h3>
				</div>
			</div>

			<div class="row indented-content">

				<div
					class="col s12 l5 m5 card white place editableplace description"
					less="true">
					<!-- <div class=" white place"> -->
					<div class="card-content grey-text text-darken-1">
						<span class="card-title" ng-click="show_description_modal($event)">Description</span>
						<p class="less">{{short_description}}</p>
						<p class="more hidden">{{description}}</p>
					</div>
					<div class="card-action">
						<a ng-click="less_more($event)" href="#"
							class="green-text show-more-less">Show more</a>
					</div>
					<!-- </div> -->
				</div>

				<div class="col l1 m1 emptycol hide-on-small-only">&nbsp;</div>

				<div class="col s12 l5 m5 card white place location">
					<!-- <div class="card white place"> -->
					<div class="card-content grey-text text-darken-1">
						<span class="card-title" ng-click="show_modal($event)">Location</span><br />
						<p>
							<img class="responsive-img" src="/resources/images/gps-icon.png" />
							{{region}}
						</p>
					</div>
					<!-- </div> -->
				</div>

				<div class="col s12 l5 m5 card white place other-info">
					<!-- <div class=""> -->
					<div class="card-content grey-text text-darken-1">
						<span class="card-title" ng-click="show_modal($event)">Other
							Info</span><br />
						<p>
							<img class="responsive-img"
								src="http://badwolfohio.com/images/facebook.jpg" />
							{{otherInfo}}
						</p>
					</div>
					<!-- </div> -->
				</div>
				<!-- </div> mytable -->
			</div>

			<div class="row indented-header">
				<div class="col s12 m12 l12 card-content grey-text text-darken-1">
					<h3>Feedbacks about place</h3>
				</div>
			</div>
			<div class="row grid feedback indented-content">

				<div class="col s12 m5 l5 grid-item card white">
					<div class="card-content grey-text text-darken-1">
						<!-- <span class="card-title grey-text"> Add a Feedback </span><br /> -->
						<span class="card-title" ng-click="show_modal($event)"> <img
							class="circle" src="/resources/images/user_icon.png" /> <span
							class="smallertext">Your feedback </span> <span
							ng-bind="list.items.text"></span>
							<div class="circle grey lighten-2">
								<i class="material-icons">photo_camera</i>
							</div>
						</span>
						<!-- <p ng-click="show_modal($event)">Your feedback</p> -->
						<!--  <textarea name="" placeholder="Add a feedback..." id="" cols="30"
						rows="10" ng-model="user_feedback" ng-change="show_modal($event)"></textarea>
					<input type="submit"
						class="add-feedback waves-effect waves-light btn-flat"
						ng-click="addFeedback()" value="Save"> -->

					</div>
				</div>

				<!-- <div class=" col l1 m1 emptycol hide-on-small-only grid-item grid-item-spacer">&nbsp;</div> -->

				<div class="col s12 m5 l5 grid-item card white"
					ng-repeat="(i, feedback) in feedbacks" less="true">

					<div class="card-content grey-text text-darken-1">
						<span class="card-title"> <img class="circle"
							ng-src="{{feedback.avatar}}" /> <span>{{feedback.username}}</span>
						</span><br />
						<p class="less">{{feedback.text.substr(0, 400)}}</p>
						<p class="more hidden">{{feedback.text}}</p>
					</div>
					<div class="card-action">
						<a ng-click="less_more($event)" href="#"
							class="green-text show-more-less">Show more</a>
					</div>
				</div>
			</div>
			<div class="place-overlay">&nbsp;</div>
		</div>
	<div id="feedback-modal" class="modal modal-fixed-footer mymodal"
		ng-controller="PlaceFeedbackController">
		<div class="modal-content">
			<span class="card-title feedback-username"> <img
				class="circle feedback-userpic" ng-src="{{avatar}}" /> <span>{{username}}</span>
			</span><br />

			<div class="input-field">
				<div class="typeit">Type your feedback</div>
				<textarea placeholder=" " id="typing-feedback" type="text"
					class="validate" ng-model="text"></textarea>
				<label for="typing-feedback" class="typeit"></label>
			</div>
			<form action="#">
				<div class="file-field input-field images-uploader">
					<div class="commenting-button">
						<span><i
							class="material-icons camera-icon grey-text text-lighten-1">photo_camera</i></span>
						<input type="file">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a href=""
				class=" modal-action modal-close waves-effect waves-green btn-flat"
				ng-click="addText(text)">Publish</a> <a href="#!"
				class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		</div>
	</div>

	<div id="name-modal" class="modal modal-fixed-footer mymodal"
		ng-controller="EditPlaceController">
		<div class="modal-content">
			<span class="card-title feedback-username"> <span>{{name}}</span>
			</span><br />
			<div class="input-field">
				<div class="typeit">Type new name of the place</div>
				<textarea placeholder=" " id="typing-feedback" type="text"
					class="validate" ng-model="text"></textarea>
				<label for="typing-feedback" class="typeit"></label>
			</div>
		</div>
		<div class="modal-footer">
			<a href=""
				class=" modal-action modal-close waves-effect waves-green btn-flat"
				ng-click="addText(text)">Publish</a> <a href="#!"
				class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		</div>
	</div>

	<div id="description-modal" class="modal modal-fixed-footer mymodal"
		ng-controller="EditPlaceController">
		<div class="modal-content">
			<span class="card-title feedback-username"> <span>{{description}}</span>
			</span><br />
			<div class="input-field">
				<div class="typeit">Type new description of the place</div>
				<textarea placeholder=" " id="typing-feedback" type="text"
					class="validate" ng-model="text"></textarea>
				<label for="typing-feedback" class="typeit"></label>
			</div>
		</div>
		<div class="modal-footer">
			<a href=""
				class=" modal-action modal-close waves-effect waves-green btn-flat"
				ng-click="addText(text)">Publish</a> <a href="#!"
				class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
		</div>
	</div>
	</div>
<!-- </div> -->