<!-- <div ng-click="goPlace()" ng-controller="OpenPlaceCtrl"> -->
	<div class="container">

		<!-- <div class="map-container">
			<div id="mapid"></div>
		</div> -->
		<div class="close-place" ng-show="close-place-button">
			<a href="#" ng-click="close_place($event)"> <span
				class="material-icons closeIcon">close</span>
			</a>
		</div>
		<div class="place-container"> <!-- ng-show="placeopened" -->
			<div class="row">
				<div class="col s12">
					<div class="carousel carousel-slider">
						<i class="material-icons before-arrow">navigate_before</i> <i
							class="material-icons next-arrow">navigate_next</i> <a
							ng-repeat="(i, image) in images" class="carousel-item"
							ng-href="#{{i}}!"> <img class="responsive-img"
							ng-src="{{image.fileSrc}}" id="imgClickAndChange" onclick="changeImage()">
						</a>
					</div>
					<h2 class="myplace-name editableplace"
						ng-click="show_name_modal($event)">{{name}}<i class="material-icons">mode_edit</i></h2>
				</div>
			</div>

			<div class="row empty">
				<div>&nbsp;</div>
			</div>

			<div class="row indented-header">
				<div class="col s12 m12 l12 card-content grey-text text-darken-1">
					<h3>Place details</h3>
				</div>
			</div>

			<div class="row indented-content">

				<div
					class="col s12 l5 m5 card white place editableplace description"
					less="true">
					<!-- <div class=" white place"> -->
					<div class="card-content grey-text text-darken-1">
						<span class="card-title grey-text" ng-click="show_description_modal($event)">Description<i class="material-icons myright right">mode_edit</i></span>
						<p class="less">{{short_description}}</p>
						<p class="more hidden">{{description}}</p>
					</div>
					<div class="card-action">
						<a ng-click="less_more($event)" href="#"
							class="green-text show-more-less">Show more</a>
					</div>
				</div>

				<div class="col l1 m1 emptycol hide-on-small-only">&nbsp;</div>

				<div class="col s12 l5 m5 card white place location">
					<div class="card-content grey-text text-darken-1">
						<span class="card-title grey-text">Location</span><br />
						<p>
							<img class="responsive-img" src="/images/gps-icon.png" />
							{{region}}
						</p>
					</div>
				</div>

				<div class="col s12 l5 m5 card white place other-info">
					<div class="card-content grey-text text-darken-1">
						<span class="card-title grey-text">Other
							Info</span><br />
						<p>
							<img class="responsive-img"
								src="/images/facebook.jpg" />
							{{otherInfo.socialAccount}}
						</p>
					</div>
				</div>
			</div>

			<div class="row indented-header">
				<div class="col s12 m12 l12 card-content grey-text text-darken-1">
					<h3>Feedback about place</h3>
				</div>
			</div>
			<div class="row grid feedback indented-content">
				<div class="col s12 m5 l5 grid-item card white">
					<div class="card-content grey-text text-darken-1">
						<span class="card-title" ng-click="show_modal($event)"> <img
							class="circle" ng-src={{userpicture.userpic}} /> <span
							class="smallertext">Your feedback </span> <span
							ng-bind="list.items.text"></span>
							<div class="circle grey lighten-2">
								<i class="material-icons">photo_camera</i>
							</div>
						</span>
					</div>
				</div>

				<div class="col s12 m5 l5 grid-item card white"
					ng-repeat="(i, feedback) in feedbacks" less="true">
					<div class="card-content grey-text text-darken-1">
					<img class="circle" ng-src="{{feedback.userpic}}" />
						<span class="card-title"> <span>{{feedback.username}}</span></br>
							<span class="rel_date">{{feedback.date}}</span>
						</span><br />
						<p class="less">{{feedback.text.substr(0, 400)}}</p>
						<p class="more hidden">{{feedback.text}}</p>
					</div>
					<div class="card-action">
						<a ng-click="less_more($event)" href="#"
							class="green-text show-more-less">Show more</a>
					</div>
				</div>
			</div>
			<div class="place-overlay">&nbsp;</div>
		</div>

	</div>