/*-------------- Red button --------------*/
.fixed-action-btn {
	bottom: 45px;
	right: 24px;
}


/*-------------- Place for map --------------*/
.map-wrapper {
  position: absolute;
  /* padding-top: 0px; // px that has our nav */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.map-wrapper #mapid {
  height: 100%;
  width: 100%;
}

/*-------------- Add place --------------*/

.add-item-menu {
    background-color: #f8f8f8;
    bottom: 0;
    display: block;
    overflow: auto;
    padding: 0 15px 15px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 25%;
    z-index: 402;
}

.add-item-menu h2 {
    text-align: center;
}   
 
.form-group {
    margin-bottom: 15px;
}

.label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.add-item-menu .title {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #009000;
    font-weight: bold;
}

.add-item-menu .closeIcon {
    color: #009000;
    font-size: 35px;
    left: 10px;
    position: absolute;
    top: 8px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

textarea.form-control {
    height: auto;
}

.add-item-menu .no-padding {
    padding: 0;
}

.btn-group, .btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.col-xs-12 {
    width: 100%;
}

.latlng {
	background-color: #fff;
    background-image: none;
    border: 0 solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

    
 