@CHARSET "UTF-8";

#placesSidebar {
	position: fixed;
	z-index: 405;
	right: 0;
}

.place {
	margin: 5px;
	height: auto;
	margin-top: 25px;
	padding: 25px;
	display: flex;
	justify-content: center; 
	align-items: center;
	cursor: pointer;
	background-color: #0F9C5A
}

.places {
	margin-top: 30px;
}

.place-name {
	color: #fff;
}
