.tabs .indicator {
    background-color: white !important;
}

.tabs .tab {
	text-transform: none !important;
}

i.material-icons {
    display: inline-block  !important;
}

a.sideNavMenuButton {
	margin-left: 1%;
}

#sidenav-overlay {
	background-color: rgba(0, 0, 0, 0) !important;
}

.side-nav a {
	line-height: 64px !important;
	height: 64px !important;
}

.side-nav li > a > i,
.side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"],
.side-nav li > a > i.material-icons {
  float: left;
  line-height: 64px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

