@CHARSET "UTF-8";

.tabsBackgroundColor {
	background-color: #0F9C5A !important;
}

.tabs .indicator {
    background-color: white !important;
}

body {
	background-color: #ededed;
}

nav {
	background-color: RGB(15, 156, 90);
}

nav, nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i {
	height: 44px;
	line-height: 44px;
}

.search_custom {
	height: 25px !important;
	line-height: 25px !important;
	font-size: 1.4rem !important;
}

.line {
	border-left: 1px solid #33ab6f;
	height: calc(100% - 5px);
	line-height: 35px;
	margin-top: 5px;
}

.row .col {
	float: left;
	box-sizing: border-box;
	padding: 0 0rem !important;
	min-height: 1px;
}

.custom {
	border-radius: 2px !important;
	background-color: #33ab6f !important;
	padding: 0px;
	margin-top: 9px;
	font-size: 1.0rem !important;
	box-shadow: none !important;
	height: 25px !important;
	line-height: 25px !important;
}

nav .brand-logo {
	position: relative;
	color: #fff;
	display: inline-block;
	font-size: 1.2rem;
	white-space: nowrap;
}

.right {
	float: right;
	padding-right: 10px;
}

.collection {
	position: absolute;
/* 	margin-top: 10px; */
	margin-top: 0px;
/* 	height: 100vh;
 */	height: 86vh;
	background: #ededed;
	border: none;
	bottom: 0px;
	margin-bottom: 0px;
}

.collection a.collection-item {
	color: #858585;
	background: #ededed;
	border-bottom: 0px;
}

.not-active {
	text-align: left;
	width: 16.6666666667%;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.4s ease;
}

.active-ul {
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s ease;
}

.content {
/* 	height: 100vh; */
	height: 83.5vh;
/* 	width: 66.6666666667%; */
/*  	width: 100%; */ 
 	width: 83.4%; 
/* 	margin-left: 16.6666666667%; */
	margin-left: 6.13%;
/* 	margin-top: 20px; */
	margin-top: 0px;
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s ease;
}

.transf-content {
	transform: translate3d(12.5%, 0, 0);
	transition: transform 0.4s ease;
}

#toggle-button {
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

.progress {
	height: 2px !important;
	border-radius: 1px !important;
	margin: 0px !important;
	position: absolute !important;
	top: -20px !important;
	z-index: 401;
}

#mapid {
	position: absolute;
    top: -20px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    left: 0px;
}

.tabsIndent {
	margin-left: 35%;
	margin-right: 35%;
}
