<div class="container row">
	<div id="places-sidebar" ng-show="searchPlacesSidebarOpen" class="col s6, m4, l3">
		<div class="search-error" ng-show="noSuchResultMessage">No such result</div> 
		<ul class="places-list" ng-init="placeAddAddress()">	
			<li ng-repeat="place in places">
				<div class="found-place" ng-click="refocusMap(place.point.latitude, place.point.longitude)">
					<div class="place-image">
						<img src="#">
					</div>
					<div class="place-name">
						<b>{{place.name}}</b>
						
						<div class="place-address">{{place.address}}</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>