<div class="container row">
	<div id="places-sidebar" ng-show="searchPlacesSidebarOpen" class="col s6, m5, l3">
		<a href="" ng-click="closePlacesSidebar()"> 
			<span class="material-icons closeIcon closeSearch">close</span>
		</a>
		<div class="search-error" ng-show="noSuchResultMessage">No such result</div> 
		<ul class="places-list" ng-init="placeAddAddress()">	
			<li ng-repeat="place in places">
				<div class="found-place" ng-click="refocusMap(place.point.latitude, place.point.longitude)">
					<img class="place-image hide-on-small-only" src="{{place.attachments[0].fileSrc}}">
					<div class="place-info">
						<p class="place-name"><b>lol</b><p>
						<p class="place-address">{{place.address}}</>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
